<h1> <%= @user.first_name %>'s Dashboard</h1>
<h5>My Products:</h5>

<table style="width:100%">
  <tr>
    <th>Product Name</th>
    <th>Update</th>
  </tr>
  <% @producer.products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td>Click to Update</td>
    <td><%= link_to 'Add tag', new_producer_product_tagging_path(@producer, product) %></td> 
    <% product.tags.each do |tag| %>
    <td> <%= tag.name %> </td>
    <% end %>
  </tr>
<% end %>
</table>

<%=link_to 'Add a new product', new_producer_product_path(@producer)%>
