<div class="dashboard-container">
  
  <h3> <%= @user.first_name %>'s Dashboard</h3>

  <table style="width:100%" class="dashboard-table">
    <tr>
      <th>My Products</th>
      <th>Update</th>
    </tr>
    <% products_ordered = @producer.products.order(updated_at: :desc) %>
    <% products_ordered.each do |product| %>
    <tr>
     <td><%= link_to "#{product.name}", edit_product_path(product) %></td>
      <td>
        <%= link_to ('<i class="fas fa-edit"></i>').html_safe, edit_product_path(product) %>
        <%= link_to ('<i class="far fa-trash-alt"></i>').html_safe, producer_product_path(@producer, product), method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
      <% product_tags = [] %>
      <% product.tags.each do |tag| %>
      <% product_tags << tag.name %>
      <% end %>
    </tr>
  <% end %>
  </table>
</div>

<%=link_to 'Add a new product', new_product_path, class: "btn btn-primary btn-block mt-3 mb-1 btn-products" %>
