<!-- The overlay -->
<div id="myNav" class="overlay">
  <!-- Button to close the overlay navigation -->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <!-- Overlay content -->
  <div class="overlay-content">
    <% if user_signed_in? && current_user.producer %>
      <li class="nav-item active">
        <%= link_to "Dashboard", "/dashboard", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Add Product", new_product_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "View Profile", "/producers/#{current_user.producer.id}", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
      </li>
      <% elsif user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Shopping Cart", shopping_carts_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Producer Sign-up", "/new_producer", class: "nav-link" %>
        </li>
         <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>

<div class="navbar d-flex justify-content-space-between">

  <%= link_to image_tag("Logo1.jpg"), root_path %>

  <!-- Use any element to open/show the overlay navigation menu -->
  <span onclick="openNav()"><%= icon('fas', 'bars') %></span>

  <script>/* Open when someone clicks on the span element */
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }
  /* Close when someone clicks on the "x" symbol inside the overlay */
  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }</script>

  <span class="cart">
    <%= link_to icon('fas', 'shopping-bag'), shopping_carts_path, class: "icon-black" %>
    <% unless @shopping_cart.line_items.size == 0 %>
      <div class="badge_cart d-inline-block"><%= @shopping_cart.line_items.size %></div>
    <% end %>
  </span>

  <%= link_to icon('fas', 'map-marked-alt'), shopping_carts_path, class: "icon-black" %>

  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required p-2" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  <% end %>

</div>

