<div class="container-order">
  <div class="row">
    <div class="col-md-3"></div>
      <div class="order-confirmation">
      <h2>Congratulations <%= current_user.first_name %>!<br> Your order is on its way</h2>
      <h3>order number #<%=@order.id %><span class="state badge badge-primary float-right">State: <%= @order.state %></span></h3>
      <ul class="mt list-unstyled">
        <h3>Date of purchase:</h3>
        <p><%= @order.created_at.to_date %><p>
        <h3>Your purchases:</h3>
        <%@order.shopping_cart.line_items.each do |lineitem| %>
           <li><p><%= lineitem.product.name %><p></li>
        <% end%>
        <h3>Shipping Address<span class="change"><%= link_to "Change" %></span></h4>
          <p>57 Flinders Lane<br>Melbourne, Victoria, 3000<br>Australia</p>
        <h3>Delivery Details<span class="change"><%= link_to "Change" %></span></h3>
          <p>Standard Delivery<br>Saturday 27 - Tuesday 30</p>
        <hr>
        </li><strong>subtotal</strong><p><%= humanized_money_with_symbol @order.amount%><p></li>
        <hr>
        <li><strong>shipping</strong><p>free</p></li>
        </li>
      </ul>
      <p class="msg-end"><span class="quote">"</span>Thank you for your support <%= current_user.first_name %>!<span class="quote">"<span></p>
      <div class="d-flex justify-content-center mb-5">
      <% current_user.shopping_cart.list_producers.each do |producer|%>
        <div class="mx-3 text-center">
          <span class="text-center"><em>-<%= producer.name %></em></span>
          <% if producer.photo.attached? %>
            <div class="avatar-order" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path producer.photo.key%>')"></div>
          <% else %>
            <div class="avatar-order" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://placehold.it/120x120')"></div>
          <% end %>
        </div>
        <% end  %>
      </div>
    <%= link_to "Back to Home", root_path, class:"bottom-btn btn btn-primary" %>
    </div>
  </div>
</div>