<div class="banner">
    <div class="banner-content text-center">
        <h1>Proudly Aussie</h1>
        <p class="py-3">
          <span id="banner-typed-text"></span>
        </p>
        <%= link_to "Buy Australian Made", producers_path, class: "btn btn-primary", data:{turbolinks:"false"} %>
    </div>
</div>
<div class="card-header">
  <h5>Our most popular products</h5>
</div>
<div class="carousel-container d-flex">
  <%= link_to producers_path(tag_name: "Organic"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1533478583204-680d4ff74891?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Organic
  </div>
  <% end %>
  <%= link_to producers_path(tag_name: "Handmade"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1506806732259-39c2d0268443?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
    <div>
  Handmade
  </div>
  <% end %>
  <%= link_to producers_path(tag_name: "Condiments"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1563599175592-c58dc214deff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Condiments
  </div>
  <% end %>

  <%= link_to producers_path(tag_name: "Vegan"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1540914124281-342587941389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Vegan
  </div>
  <% end %>
</div>
<div class="card-header">
  <h5>Browse our range of categories </h5>
</div>
<div class="carousel-container d-flex">
  <%= link_to producers_path(tag_name: "Meat"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1542901031-ec5eeb518e83?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Meat Products
  </div>
  <% end %>

  <%= link_to producers_path(tag_name: "Accessories"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519431458145-1ca3d5ccd68e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Accessories
  </div>
  <% end %>


  <%= link_to producers_path(tag_name: "Vintage"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1460776960860-7adc30a4e69d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Vintage
  </div>
  <% end %>

  <%= link_to producers_path(tag_name: "Alcohol"), data:{turbolinks:"false"}, class: "card-category col-10 col-md-3", style: "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1571323185405-d4c20ffd832d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80)" do %>
  <div>
  Alcohol
  </div>
  <% end %>
</div>
