<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4"></div>
      <div class="order-summary">
        <h2 id="order-sum-title">Order summary</h2>
        <table width=300px>
        <tr>
          <th>item</th>
          <th>qty</th>
          <th>price</th>
        </tr>
        <tr>
          <ul class="item-list list-unstyled">
          
            <% @order.shopping_cart.line_items.each do |item| %>
          <td><%= item.product.name %></td>
          <td><%= item.amount %></td>
          <td><%= item.amount*@order.amount %></td> 
            <% end %>
          </ul>
        </tr> 
          <td>
            <p class="total-right">TOTAL:  <%= humanized_money_with_symbol @order.amount%><p>
          </td>
        </table>
          <hr>
         
            
        <button class=" btn btn-outline-primary short-translucent-btn">Continue Shopping</button>
        <button id="pay" class="bottom-btn btn btn-primary">Proceed to payment</button>

            <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      </div>
      


    </div>
  </div>
</div>
