<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4"></div>
      <div class="order-summary">
        <h2 id="order-sum-title">Order summary</h2>
          <h3>Your items:</h3>
          <ul class="item-list list-unstyled">
            <% @order.shopping_cart.line_items.each do |item| %>
          <li><%= item.product.name %><span> - qty: <%= item.amount %> </span></li>
            <% end %>
          </ul>
          <hr>
            <p>TOTAL:<%= humanized_money_with_symbol @order.amount%><p>
        <button class=" btn btn-outline-primary short-translucent-btn">Continue Shopping</button>
        <button id="pay" class="bottom-btn btn btn-primary">Proceed to payment</button>

            <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
      </div>
      


    </div>
  </div>
</div>
