<!--  map button outside card  -->
<div class="d-flex justify-content-center my-3">
    <div class="btn-group" role="group">
        <button type="button" class="display-map btn btn-secondary far fa-map"> </button>
        <button type="button" class="display-list active btn btn-secondary fas fa-list-ul"></button>
    </div>
</div>

<div class="" id="js-producers">
    <% @producers.each do |producer | %>
     <%= link_to producer_path(producer), data:{turbolinks:"false"} do %>
        <div class="card-container m-3 ">
            <div class="card-producer">
            <div class="card-producer-infos">
                <h2><%= producer.name %></h2>
                <p><%= producer.tagline  %></p>
                <% producer.tags.each do |tag| %>
                <% if params[:tag_name].presence == tag.name %>
                <span class="badge badge-success"><%= tag.name %></span>
                <% else %>
                <span class="badge badge-secondary"><%= tag.name %></span>
                <% end %>
                <% end %>
            </div>
            <% if producer.photo.attached? %>
              <%= cl_image_tag producer.photo.key,crop: :fill %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <% end %>
            </div>
        </div>
     <% end %>
    <% end %>
</div>

<div class="d-none" id="js-map"> <!--display none-->
  <div class="col-12 col-md-5 px-0 mx-0">
    <div id="map" style="width: auto; height: 100vh;"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>




