<!--  map button outside card  -->
<div class="d-flex justify-content-center my-3">
  <div class="btn-group" role="group">
    <button type="button" class="display-list active btn btn-secondary"><i class="fas fa-list-ul" aria-hidden="true"></i></button>
    <button type="button" class="display-map btn btn-secondary"><i class="far fa-map" aria-hidden="true"></i></button>
  </div>
</div>

<div class="" id="js-producers">
    <% @producers.each do |producer | %>
     <%= link_to producer_path(producer), data:{turbolinks:"false"} do %>
        <div class="card-container m-3 ">
            <div class="card-producer" data-aos="fade-up">
              <% if producer.bg_photo.attached? %>
                <%= cl_image_tag producer.bg_photo.key,crop: :fill %>
              <% else %>
                <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <% end %>
              <div class="card-producer-text">
                <% if producer.photo.attached? %>
                  <%= cl_image_tag producer.photo.key, crop: :fill, class: "card-producer-user avatar-bordered" %>
                <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card-producer-user avatar-bordered"/>
                <% end %>
                <div class="card-producer-infos">
                  <h2><%= producer.name %></h2>
                  <p><%= producer.tagline %></p>
                  <% producer.tags.each do |tag| %>
                    <% if params[:tag_name].presence == tag.name %>
                    <span class="badge badge-success"><%= tag.name %></span>
                    <% else %>
                    <span class="badge badge-secondary"><%= tag.name %></span>
                    <% end %>
                <% end %>
                </div>
              </div>
            </div>
        </div>
     <% end %>
    <% end %>
</div>

<div class="d-none" id="js-map"> <!--display none-->
  <div class="map_box_container">
    <div id="map"
   data-markers="<%= @markers.to_json %>"
   data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>




