<h1>Add new product here</h1>

   <%= simple_form_for [@tags, @producer, @product] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :name, label: "Your Product's Name:"%>
      <%= f.input :description, label: "Describe your product" %>
      <%= f.input :price, label: "Price" %>
      <%= f.input :photo, as: :file, label: "Add a nice photo" %>
      <%= f.button :submit, class: "btn btn-primary"%>
    <% end %>

    <%= link_to 'Back', "/dashboard", class:"btn btn-primary" %>